<p>
  <strong>Mostrar: <%= link_to 'Todos', :action => 'index', :id => '' %>,
  <%= link_to 'Abiertos', :action => 'index', :id => 'abierto' %>,
  <%= link_to 'Procesados', :action => 'index', :id => 'procesado' %>,
  <%= link_to 'Cerrados', :action => 'index', :id => 'cerrado' %>,
  <%= link_to 'Error', :action => 'index', :id => 'error' %></strong>
</p>
