</ Tratamiento de errores >
<% if @order.errors.any? %>
  <div id="errorExplanation">
  <h2><%= pluralize(@order.errors.count, "error", "errores") %> al grabar esta orden:</h2>
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <% if msg.include?('Order items ') %>
          <li><%= msg.gsub('Order items ', '') %></li>
        <% else %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<p><em>Por favor, chequee que el contenido de su carrito es correcto.</em></p>
<form method="post" id="checkout" action="<%= url_for :action => :submit_order %>">

  </ Primera sección del formulario >
  <fieldset>
    <legend>Información de contacto</legend>
    <p><label for="order_email">Email</label><br/>
    <%= text_field :order, :email %></p>
    <p><label for="order_phone_number">Número de teléfono</label><br/>
    <%= text_field :order, :phone_number %></p>
  </fieldset>

  </ Segunda sección del formulario >
  <fieldset>
    <legend>Dirección de envío</legend>
    <p><label for="order_ship_to_first_name">Nombre</label><br/>
    <%= text_field :order, :ship_to_first_name %></p>
    <p><label for="order_ship_to_last_name">Apellidos</label><br/>
    <%= text_field :order, :ship_to_last_name %></p>
    <p><label for="order_ship_to_address">Dirección</label><br/>
    <%= text_field :order, :ship_to_address %></p>
    <p><label for="order_ship_to_city">Ciudad</label><br/>
    <%= text_field :order, :ship_to_city %></p>
    <p><label for="order_ship_to_postal_code">Código Postal</label><br/>
    <%= text_field :order, :ship_to_postal_code %></p>
    <p><label for="order_ship_to_country_code">País</label><br/>
    <%= country_select(:order, :ship_to_country_code, ['Spain']) %></p>
    </ Spain es el país prioritario en la lista >
  </fieldset>

  </ Tercera sección del formulario >
  <fieldset>
    <legend>Información de Venta</legend>
    <p><label for="order_card_type">Tipo de Tarjeta de Crédito</label><br/>
    <select name="order[card_type]" id="order_card_type">
      <%= options_for_select(["Visa", "MasterCard", "American Express", "Discover"], @order.card_type) %>
    </select></p>
    <p><label for="order_card_expiration_month">Fecha de expiración</label><br/>
    <select name="order[card_expiration_month]">
      </ Valores para el select de mes >
      <%= options_for_select(%w(1 2 3 4 5 6 7 8 9 10 11 12), @order.card_expiration_month) %>
    </select>
    /
    <select name="order[card_expiration_year]">
      </ Valores para el select del año >
      <%= options_for_select(%w(2013 2014 2015 2016 2017 2018 2019 2020 2021), @order.card_expiration_year) %>
    </select></p>
    <p><label for="order_card_number">Número de Tarjeta</label><br/>
    <%= text_field :order, :card_number %></p>
    <p>
      <label for="order_card_verification_value">
      <abbr title="Card Verification Value">CVV</abbr>/
      <abbr title="Card Validation Check">CVC</abbr>
      </label><br/>
      <%= text_field :order, :card_verification_value %>
    </p>
  </fieldset>

  <div class="field">
    <%= hidden_field :cart, :id %>
  </div>

  <p><%= submit_tag "Realizar pago" %></p>
</form>
